.date-range-filter__field {
    display: flex;
    flex-direction: column;
}

.react-date-picker__wrapper {
    border-radius: 0.25rem;
    border-color: rgb(206, 212, 218) !important;
    padding: 0.375rem 0.75rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.react-date-picker__wrapper > svg {
    stroke: rgb(206, 212, 218) !important;
}

.react-date-picker__calendar {
    z-index: 5 !important;
}