{% for exp in experiments|dictsortreversed:"id"|slice:":5" %}
  {% if forloop.first %}
    <ul class="list-group borderless mt-2">
    {% with total=experiments.all|length %}
      <li class="list-group-item exp-list-header small px-1 py-1">
        <em>The most recent experiment{{total|pluralize}} in this project:</em>
      </li>
    {% endwith %}
  {% endif %}
  <li class="list-group-item exp-list-item small px-2 py-1">
    <i class="fa fa-cogs o-6"></i>
    <a class="exeriment-link"
       href="{% url 'tardis_portal.view_experiment' exp.id %}">
      {{ exp.title }}
    </a>
  </li>
  {% if forloop.last %}
    </ul>
  {% endif %}
{% endfor %}
